<h1>Reviews of <%= @restaurant.name %></h1>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <p><%= review.content %></p>
      <p><%= review.rating %></p>
    </li>
  <% end %>
</ul>
<%= link_to "Back", restaurant_path(@restaurant) %>
